{% load static %}
<div class="small-container cart-page">
        <table>
            {% if cart %}
            <tbody><tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            {% for item in cart.added_items.all %}
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="{{ orderedItem.Product.image.url }}">
                        <div>
                            <p>"{{ item.product.title }}"</p>
                            <small> Price:$"{{item.product.price }}"</small>
                            <br>
                            <a href="">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" disabled value="{{ orderedItem.product.quantity }}"></td>
                <td>$"{{ item.product.price }}"</td>
            </tr>
 {% endfor %}
        </tbody></table>
        <div class="total-price">
            <table>
                <tbody><tr>
                    <td>Subtotal</td>
                    <td>$200.00</td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td>$35.00</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>$230.00</td>
                </tr>
                <tr><td colspan="1"></td><td><button>Confirm Order</button></td></tr>
            </tbody></table>
            
        </div>
        {% else %}
        <p> cart is empty </p>
        {% endif %}
    </div>